@namespace TDesign
@inherits TDesignComponentBase

<div class="t-time-picker__panel">
    <div class="t-time-picker__panel-section-body">
        <div class="t-time-picker__panel-body">
            <div class="t-time-picker__panel-body-active-mask">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <ul class="t-time-picker__panel-body-scroll">
                @for (int i = 0; i < 24; i++)
                {
                    var value = i;

                    <li @key="i" @ref="@(_hourStores[value])" class="t-time-picker__panel-body-scroll-item @(CurrentHours==value?"t-is-current":"")"
                    @onclick="@(e=> ScrollTo(_hourStores[value],()=>CurrentHours=value))">
                        @(value.ToString().PadLeft(2, '0'))
                    </li>
                }
            </ul>

            <ul class="t-time-picker__panel-body-scroll">
                @for (int i = 0; i < 60; i++)
                {
                    var value = i;

                    <li @key="i" @ref="@(_minuteStores[value])" class="t-time-picker__panel-body-scroll-item @(CurrentMinutes==value?"t-is-current":"")"
                    @onclick="@(e=> ScrollTo(_minuteStores[value],()=>CurrentMinutes=value))">
                        @(value.ToString().PadLeft(2, '0'))
                    </li>
                }
            </ul>
            <ul class="t-time-picker__panel-body-scroll">
                @for (int i = 0; i < 60; i++)
                {
                    var value = i;

                    <li @key="i" @ref="@(_secondStores[value])" class="t-time-picker__panel-body-scroll-item @(CurrentSeconds==value?"t-is-current":"")"
                    @onclick="@(e=> ScrollTo(_secondStores[value],()=>CurrentSeconds=value))">
                        @(value.ToString().PadLeft(2, '0'))
                    </li>
                }
            </ul>
        </div>
    </div>
</div>