@page "/"

<PageHeader Title="快速开始">
    基于 TDesignBlazor 的 Blazor 组件库
</PageHeader>

<h2>环境</h2>
@Code.Create(@"
* .NET 6
* VS 2022
")

<h2>安装</h2>
<h3>Nuget 管理</h3>
@Code.Create(@"
```ps
> Install-Package TDesignBlazor
```
")

<h3>PackageReference</h3>
@Code.Create(@"
```html
<PackageReference Include=""TDesignBlazor""/>
```
")

<h3>引入必要文件</h3>

@Code.Create(@"
```html
<link rel=""stylesheet"" href=""_content/TDesignBlazor/tdesign-blazor.css"" /> <!--必要样式-->
```
")

<h3>在 <code>_Import.razor</code> 引入命名空间</h3>
@Code.Create(@"
```
@using TDesignBlazor
```
")

<h3>注册服务</h3>
@Code.Create(@"
```
builder.Services.AddTDesignBlazor();
```
")

<h3>修改 App.razor </h3>

@Code.Create(@"
```html
<Router AppAssembly=""@typeof(App).Assembly"">
    <Found Context=""routeData"">
        <RouteView RouteData=""@routeData"" DefaultLayout=""@typeof(MainLayout)"" />
        <FocusOnNavigate RouteData=""@routeData"" Selector=""h1"" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView TLayout=""@typeof(MainLayout)"">
            <p role=""alert"">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<!--增加组件-->
<TDesignContainer/>
```
")