@page "/"

<img src="tdesign-blazor-banner.png"/>

<h2>环境</h2>
@Code.Create(@"
* .NET 6
* .NET 7
")

<h2>安装</h2>
<h3>Nuget 管理</h3>
@Code.Create(@"
```ps
> Install-Package TDesign
```
")

<h3>引入必要文件</h3>

@Code.Create(@"
```html
<head>
    ...
    <link rel=""stylesheet"" href=""_content/TDesign/tdesign-blazor.css"" /> <!--必要样式-->
    ...
</head>

<body>
    ...
    <script src=""_framework/blazor.{webassembly}|{server}.js""></script>
    <script src=""_content/TDesign/tdesign-blazor.js""></script><!--必要的 JS-->
</body>
```
")

<h3>在 <code>_Import.razor</code> 引入命名空间</h3>
@Code.Create(@"
```
@using TDesign
```
")

<h3>注册服务</h3>
@Code.Create(@"
```
builder.Services.AddTDesign();
```
")

<h3>修改 App.razor </h3>

@Code.Create(@"
```html
<Router AppAssembly=""@typeof(App).Assembly"">
    <Found Context=""routeData"">
        <RouteView RouteData=""@routeData"" DefaultLayout=""@typeof(MainLayout)"" />
        <FocusOnNavigate RouteData=""@routeData"" Selector=""h1"" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView TLayout=""@typeof(MainLayout)"">
            <p role=""alert"">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<!--增加组件-->
<TDesignContainer/>
```
")